# Dependencies
node_modules/
server/node_modules/

# Environment variables
.env
.env.local
server/.env

# Database (Local)
*.db
*.sqlite
server/system.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# OS metadata
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
